/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}

.tabberlive {
 margin-top:1em;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
margin-left: 0;
padding-left: 0;
padding-bottom: 3px;
white-space: nowrap;
border-bottom: 3px solid #036;
}


ul.tabbernav li
{
display: inline;
list-style-type: none;
padding-left: 2px;
}

/*
ul.tabbernav:first-child {
padding-left: 160px;
}
*/

ul.tabbernav li a {
/*font-weight: bold;*/
/*: 13px;*/
font-size: 10pt;
font-family: 'Verdana',Arial,Helvetica,sans-serif;
padding: 5px 10px;
-moz-border-radius: 6px 6px 0 0;
-webkit-border-radius: 6px 6px 0 0;
-khtml-border-radius: 6px 6px 0 0;
border-radius: 6px 6px 0 0;


border-style: solid;
border-color: #bbb #bbb #036 #bbb;
border-width: 1px 1px 0px 1px; 
}

ul.tabbernav li a:link, ul.tabbernav li a:visited
{
/*color: #fff;*/
color: #000;
/*background: url(bg.png);*/
background-color: #eee;
text-decoration: none;
padding: 4px 10px;
/*border-bottom: 1px solid #036;*/
}

ul.tabbernav li a:hover
{
color: #fff;
background-color: #ccc;
text-decoration: none;
text-shadow: 0 0 1em #000, 0 0 1em #000, 0 0 1em #000;
}

ul.tabbernav li.tabberactive a:link, ul.tabbernav.tabberactive li a:visited
{
background-image: none;
color: #fff;
/*Solid blue #036*/
background-color:  #036;
/*text-shadow: 0 0 1em #000, 0 0 1em #000, 0 0 1em #000;*/
/*neon glow*/
text-decoration: none;
padding: 6px 10px;
/*letter-spacing: 0.1em;*/
border-color: #036;
}

/*ul.tabbernav li.tabberactive a:hover
{
color: #fff;
background-color: #376092;
text-decoration: none;
}*/

/*
ul.tabbernav li a
{
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #778;
 border-bottom: none;
 background: #DDE;
 text-decoration: none;
}

ul.tabbernav li a:link { color: #448; }
ul.tabbernav li a:visited { color: #667; }

ul.tabbernav li a:hover
{
 color: #000;
 background: #AAE;
 border-color: #227;
}*/



/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
 padding:5px;
/* border:1px solid #aaa;*/
 border-top:0;

 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

 /* height:200px; */

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /* overflow:auto; */
}

.tabberlive .tabbertab h2  {
 display:none;
}


/* Example of using an ID to set different styles for the tabs on the page 
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
}
*/
